* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    --red: #ff0000;
    --darkblue: #4837ff;
    --darkgray: #313131;
    --lightgray: #858585;
    --white: #ffffff;
    --black: #000000;
  }
  


  /* Header Section */
  .navbar {
    background: var(--darkgray);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    background-color: var(--darkblue);
    background-image: linear-gradient(to top, var(--darkblue) 100%, var(--red) 50%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .navbar__links:hover {
    color: var(--red);
    transition: all 1.0s ease;
  }


  
   /* Main Section */
   .main {
    background-color: var(--darkgray);
  }
  
  .main__container {
    display: flex;
    margin: auto auto;
    height: 85vh;
    background-color: var(--lightgray);
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .main__content {
    color: var(--white);
    width: 100%;
  }

  .headshot__img {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .main__content bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }



     /* Experience Section */
     .experience {
      background-color: var(--darkgray);
    }
    
    .experience__container {
      display: flex;
      margin: auto auto;
      height: 85vh;
      background-color: var(--lightgray);
      z-index: 1;
      width: 100%;
      max-width: 1500px;
      padding-right: 50px;
      padding-left: 50px;
    }
    
    .experience__content {
      color: var(--white);
      width: 100%;
    }
  
    .experience__content bio {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }



       /* Projects Section */
   .projects {
    background-color: var(--darkgray);
  }
  
  .projects__container {
    display: flex;
    margin: auto auto;
    height: 85vh;
    background-color: var(--lightgray);
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .projects__content {
    color: var(--white);
    width: 100%;
  }

  .projects__content bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }



     /* Personal Section */
     .personal {
      background-color: var(--darkgray);
    }
    
    .personal__container {
      display: flex;
      margin: auto auto;
      height: 85vh;
      background-color: var(--lightgray);
      z-index: 1;
      width: 100%;
      max-width: 1500px;
      padding-right: 50px;
      padding-left: 50px;
    }
    
    .personal__content {
      color: var(--white);
      width: 100%;
    }

    .personal__content bio {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }

 
  
  /* Footer Section */
  .footer__container {
    background-color: var(--black);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social__icon--link {
    color: var(--white);
    font-size: 50px;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .social__icon--link:hover {
    color: var(--red);
    transition: all 1.0s ease;
  }